BRUTE FORCE WORDLE HACK CHALLENGE by Sid Chadda



> RULES:


1.   Start the game by entering a random 5 letter word with most vowels like ARISE & ADUIO (TRY BOTH to get better word hits)
2.   First check for GREEN letters, if GReen letters found go to GReen section
3. Then to fine tune the results find YELLOW letters and go to YELLOW section, follow command line instructions there
4. No Capital letters

In [1]:
import numpy as np
import pandas as pd

In [2]:
df=pd.read_csv("https://raw.githubusercontent.com/SiddharthChadda/Wordle_Word_List_Database/main/wordlist2.csv")

In [3]:
df.head()

  WORD_NAME
0     aahed
1     aalii
2     aargh
3     abaca
4     abaci

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8913 entries, 0 to 8912
Data columns (total 1 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   WORD_NAME  8913 non-null   object
dtypes: object(1)
memory usage: 69.8+ KB

In [5]:
df_word_splits=df['WORD_NAME'].str.split('',expand=True)

In [6]:
df_word_splits

     0   1  2  3  4  5 6
0        a  a  h  e  d
1        a  a  l  i  i
2        a  a  r  g  h
3        a  b  a  c  a
4        a  b  a  c  i
...  .. .. .. .. .. .. ..
8908     z  o  r  i  s
8909     z  o  u  k  s
8910     z  o  w  i  e
8911     z  u  z  i  m
8912     z  y  m  e  s

[8913 rows x 7 columns]

In [7]:
df_word_splits.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8913 entries, 0 to 8912
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       8913 non-null   object
 1   1       8913 non-null   object
 2   2       8913 non-null   object
 3   3       8913 non-null   object
 4   4       8913 non-null   object
 5   5       8913 non-null   object
 6   6       8913 non-null   object
dtypes: object(7)
memory usage: 487.6+ KB

In [8]:
df_word_splits.columns

RangeIndex(start=0, stop=7, step=1)

In [9]:
df_new=df_word_splits[[1,2,3,4,5]].copy()

In [10]:
df_new.columns=['letter_1','letter_2','letter_3','letter_4','letter_5']

In [11]:
### GAME INPUTS:

### GAME INPUTS:

GREEN SECTION

In [12]:
# Command Line input module

# What I mean by active columns or Green columns is, Which letters become green when you first begin by entering a random letter
df_val_1= pd.DataFrame()
df_val_2= pd.DataFrame()
df_val_3= pd.DataFrame()
df_val_4= pd.DataFrame()
df_val_5= pd.DataFrame()

val1 = input("is the 1st column Green? y/n: ")
if(val1=="y"):
  value_1=input("Enter the letter: ")
  df_val_1=df_new.loc[df_new['letter_1'] == value_1].copy()


val2 = input("is the 2nd column Green? y/n: ")
if(val2=="y"):
  value_2=input("Enter the letter: ")
  df_val_2=df_new.loc[df_new['letter_2'] == value_2].copy()

val3 = input("is the 3rd column Green? y/n: ")
if(val3=="y"):
  value_3=input("Enter the letter: ")
  df_val_3=df_new.loc[df_new['letter_3'] == value_3].copy()

val4 = input("is the 4th column Green? y/n: ")
if(val4=="y"):
  value_4=input("Enter the letter: ")
  df_val_4=df_new.loc[df_new['letter_4'] == value_4].copy()

val5 = input("is the 5th column Green? y/n: ")
if(val5=="y"):
  value_5=input("Enter the letter: ")
  df_val_5=df_new.loc[df_new['letter_5'] == value_5].copy()

is the 1st column Green? y/n: n
is the 2nd column Green? y/n: n
is the 3rd column Green? y/n: y
Enter the letter: i
is the 4th column Green? y/n: y
Enter the letter: s
is the 5th column Green? y/n: n

In [13]:
dataframe_dict={}

if not df_val_1.empty:
  dataframe_dict['letter_1']=df_val_1

if not df_val_2.empty:
  dataframe_dict['letter_2']=df_val_2


if not df_val_3.empty:
  dataframe_dict['letter_3']=df_val_3


if not df_val_4.empty:
  dataframe_dict['letter_4']=df_val_4


if not df_val_5.empty:
  dataframe_dict['letter_5']=df_val_5

In [14]:
# Word Combinations generator
int_df=df_new.copy()
for dfy_key in dataframe_dict:
  
  int_df = pd.merge(int_df, dataframe_dict[dfy_key], how ='inner', indicator=False)

print("\n")
print("All the possible 5 Letter word combinations are: ")
int_df

All the possible 5 Letter word combinations are:

   letter_1 letter_2 letter_3 letter_4 letter_5
0         a        g        i        s        m
1         a        g        i        s        t
2         a        l        i        s        t
3         a        m        i        s        s
4         a        n        i        s        e
5         a        p        i        s        h
6         a        r        i        s        e
7         a        v        i        s        o
8         b        l        i        s        s
9         b        r        i        s        k
10        b        r        i        s        s
11        c        r        i        s        p
12        c        u        i        s        h
13        d        a        i        s        y
14        d        e        i        s        m
15        d        e        i        s        t
16        e        x        i        s        t
17        f        e        i        s        t
18        f        o        i        s        t
19        f        r        i        s        e
20        f        r        i        s        k
21        g        r        i        s        t
22        g        u        i        s        e
23        h        e        i        s        t
24        h        o        i        s        e
25        h        o        i        s        t
26        j        o        i        s        t
27        k        n        i        s        h
28        m        a        i        s        t
29        m        o        i        s        t
30        n        e        i        s        t
31        n        o        i        s        e
32        n        o        i        s        y
33        o        d        i        s        t
34        p        a        i        s        a
35        p        a        i        s        e
36        p        e        i        s        e
37        p        o        i        s        e
38        p        r        i        s        e
39        p        r        i        s        m
40        p        r        i        s        s
41        r        a        i        s        e
42        s        e        i        s        e
43        s        e        i        s        m
44        s        h        i        s        t
45        s        w        i        s        h
46        s        w        i        s        s
47        t        w        i        s        t
48        w        a        i        s        t
49        w        h        i        s        h
50        w        h        i        s        k
51        w        h        i        s        t
52        w        r        i        s        t

FINE TUNE & YELLOW SECTION:

In [15]:
#Run the below script if you want to look up the Yellow category letter - word combinations
#Yellow Letter meaning- the Letter is correct but placed in incorrect position

letter_looker = input("Do you want to look up a certain letter? y/n:  ")
if(letter_looker=="y"):
  letter_looker_value=input("Enter the list of letters you want to search (seperate the letters by , (it's a comma, please no space)): ")
  letter_looker_list=letter_looker_value.split(",")

  #THIS OUTER JOIN NEEDS MORE WORK
  int_df_new=int_df[np.equal.outer(int_df.to_numpy(copy=False),  [letter_looker_list]).any(axis=1).all(axis=1)]

print("\n")
print("All the possible 5 Letter word combinations are: ")
int_df_new

Do you want to look up a certain letter? y/n:  y
Enter the list of letters you want to search (seperate the letters by , (it's a comma, please no space)): m


All the possible 5 Letter word combinations are:

   letter_1 letter_2 letter_3 letter_4 letter_5
0         a        g        i        s        m
3         a        m        i        s        s
14        d        e        i        s        m
28        m        a        i        s        t
29        m        o        i        s        t
39        p        r        i        s        m
43        s        e        i        s        m

In [17]:
print("SID = GR8")

SID = GR8